<div class="product--ugc-gallery page-width">
    <div class="product-ugc__textcontent no-ugc">
      <h2 class="product-ugc__heading h1">{{ section.settings.heading | escape }}</h2>
      <p class="product-ugc__subheading">{{ section.settings.subheading | escape }}</p>
    </div>
    <script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-script-class="fs-script" data-feed-id="seavees_1" data-theme="lookbook_v2_5" data-open-links-in-same-page="true" data-connector-filter="45833,45834" data-for-url="true" data-page-size="6" defer="defer"></script>
  </div>
  
  <style>
      .fs-has-links { display:none; }
      .fs-desktop .fs-entry-container { width: 33.3333%; padding-top: 33.33333%; }
      .fs-mobile .fs-entry-container { width: 50%; padding-top: 50%; }
      .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title { font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:normal;font-size:14px; }
      div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text { font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:normal;font-size:14px; }
      .fs-wrapper div.fs-text-container * { color:rgba(0,0,0,0); }
      .fs-wrapper div.fs-text-container { background-color:rgba(0, 0, 0, 0);margin:0px; }
      div.fs-entry-date { display:none; }
      div.fs-service-icon { display:none; }
      div.fs-entry-title { display:none; }
      .fs-wrapper div.fs-timeline-entry { margin:5px; }
      .product-ugc__textcontent.no-ugc { display: none; }
      .product-ugc__heading { text-align: center; letter-spacing: -0.06rem; font-weight: 500; }
      .product-ugc__subheading { text-align: center; }
  </style>
  
  <script>
  function waitForUGC(elemQuery, callback, timeout = 0) {
    // if loading takes more than 10 seconds, it stops the function, considering operation as a timeout
    if(timeout < 100) {
      window.setTimeout(function() {
        const element = document.querySelector(elemQuery);
        if(element) {
          callback();
        } else {
          waitForUGC(elemQuery, callback, timeout+1);
        }
      }, 100);
    } else {
      return;
    }
  }
  waitForUGC(".fs-wrapper.fs-lookbook_v2_5 .fs-has-posts", () => {
    document.querySelector(".product-ugc__textcontent").classList.remove("no-ugc");
  });
  </script>
  
  {% schema %}
  {
      "name": "UGC Gallery",
      "tag": "section",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Gallery",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Description"
        }
      ]
    }
  
  {% endschema %}
  