#grouped_collection_view {
  width: 100%;
}

@media (min-width: 760px) {
  #grouped_collection_view {
    margin-bottom: 80px;  
  }
}

.grouped-collection-container {
  max-width: 92%;
  margin-top: 24px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 600ms ease;
  padding-bottom: 28px;
  position: relative;
}

.grouped-collection-container:hover {
  box-shadow: rgba(0, 0, 0, 0.30) 0px 1px 4px;
}

.grouped-collection-container .card-wrapper {
  height: auto;
}


.grouped-collection-container .card-wrapper[data-not-first-card] {
  display: none;
}

.grouped-collection-container .card-wrapper:not(.active) {
  display: none;
}

.grouped-collection-container .card-wrapper.active {
  display: block;
}

.grouped-collection-container.page-width:nth-of-type(2) {
  margin-top: 16px;
}


.grouped-collection-container:last-of-type {
  margin-bottom: 48px;
}

.collectin {
  position: relative;
}

@media (min-width: 750px) {

  #grouped_collection_view .product-grid-container .collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
    row-gap: 48px;
    margin-top: 12px;
    padding: 0 3rem;
  }  

  .grouped-collection-container:last-of-type,
  .grouped-collection-container.page-width:nth-of-type(2),
  .grouped-collection-container.page-width {
    margin: 0;
    padding: 0 0 36px;
    max-width: inherit;
  }   

}

@media (min-width: 990px) {
  #grouped_collection_view .product-grid-container .collection {
    grid-template-columns: 1fr 1fr;
    margin-top: 24px;
    padding: 0;
  }  
}

@media (min-width: 1360px) {
  #grouped_collection_view .product-grid-container .collection {
    grid-template-columns: 1fr 1fr 1fr;
  }  
}


.grouped-collection-container .card__information {
  padding-bottom: 0;
}

.price-and-style-count-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-and-style-count-container .price .light {
  font-weight: 500;
}

.price-and-style-count-container .separator {
  margin: 0 8px;
  border-left: 1px solid #bbb;
  height: 15px;
}


.grouped-collection-container .card-information {
  overflow: hidden;
}

.grouped-collection-container .card-information span,
.grouped-collection-container .card-information div {
    font-size: 13px !important;
}

.grouped-collection-container product-swatch {
  margin: 6px auto 0;
  display: flex;
  max-width: 80%;
  justify-content: center;
  position: relative;
}

@media (min-width: 1360px) {
  .grouped-collection-container product-swatch {
    max-width: 90%;
  }  
}


@media (min-width: 990px) {
  .grouped-collection-container product-swatch {
    max-width: 100%;
  }  
}

.grouped-collection-container .product-swatches > div:first-child {
  margin-left: 0;
}

.grouped-collection-container .product-swatches > div:last-child {
  margin-right: 0;
}

.grouped-collection-container .product-swatch {
  margin: 0;
  width: 24px;
  height: 24px;
  z-index: 1;
  position: relative;
  border-radius: 32px;  
  border: 2px solid #888;
  display: block;
  transition: 600ms ease;
}

.grouped-collection-container .product-swatch:hover {
  border: 3px solid #666;
  cursor: pointer;
}


.grouped-collection-container .product-swatch.active {
  border: 3px solid #dc4b28;
}

.swiper {
  width: 180px;
  height: 48px;
  margin: 0;
}

.grouped-collection-container .swiper-button-prev,
.grouped-collection-container .swiper-button-next {
  z-index: 2;
}

.grouped-collection-container .swiper-button-prev:after,
.grouped-collection-container .swiper-button-next:after {
  font-size: 16px;
  line-height: 1;
  color: rgb(var(--color-foreground));
}

.product-swatch-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
}

.navigation-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto !important;
}

@media (min-width: 990px) {
  .navigation-buttons {
    width: 90%;
  }
}

@media (min-width: 1180px) {
  .navigation-buttons {
    width: 80%;
  }
}


@media (min-width: 1360px) {
  .navigation-buttons {
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .navigation-buttons {
    width: 90%;
  }
}


.less-than-five-swatches .swiper-wrapper {
  justify-content: center;
}

.less-than-five-swatches .navigation-buttons {
  display: none;
}

.swiper-slide .product-swatch {
  border: 2px solid grey;
}

.swiper-slide .product-swatch.active {
  border: 3px solid #dc4b28 !important;
}

.card__heading span.dn {
  display: none;
}

.card__heading span {
  display: block;
}

.product-card-link span.gender,
.product-card-link span.material {
  font-weight: normal;
  font-size: 12px;
}

.product-card-link span.product-name {
  font-size: 14px;
}

.hide-color-picker product-swatch {
  display: none;
}