.page-menu {
    border-bottom: 0.1rem solid rgba(var(--color-foreground),.2);
    border-top: 0.1rem solid rgba(var(--color-foreground),.2);
    background: none;
}

.page-menu-background {
    background: #f7f7f7;
    border: none;
}

.page-menu ul {
    list-style: none;
    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

@media screen and (max-width: 749px) {
    .page-menu ul {
        justify-content: space-between;
    }
}

@media screen and (max-width: 749px) {
    .page-menu-stacked {
        flex-direction: column;
        overflow-x: initial;
    }
}

.page-menu li {
    padding: 1rem 2rem;
    position: relative;
    text-align: center;
}

@media screen and (max-width: 749px) {
    .page-menu li {
        padding: 1rem 1.5rem;
        flex-shrink: 0;
    }

    .page-menu-stacked .page-menu li {
        flex-shrink: initial;
    }
}

.page-menu li::after { 
    transition: width .5s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.75rem;
    content: '';
    display: inline-block;
    width: 0%;
    height: 1px;
    background-color: #dc4b28;
    bottom: 4px;
}

.collection-fall-2022-layout #shopify-section-collection-page-menu .page-menu li:hover::after,
.collection-fall-2022-layout #shopify-section-collection-page-menu .page-menu li.active::after { 
    width: 100%;
}

.page-menu .active::after {
    width: 60%
}

.page-menu a:hover {
    color: #dc4b28;
} 

.page-menu .active a {
    color: #dc4b28;
}

.page-menu li a {
    text-transform: Capitalize;
    color: rgb(var(--color-foreground));
    text-decoration: none; 
    font-size: 1.6rem;
}

.page-menu li:hover::after {
    width: 60%;
}